.descri {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.43);
  position: absolute;
  top: 0;
  z-index: 999;
  .cuadro {
    background-color: white;
    width: 80%;
    min-height: 100px;
    margin-top: 30%;
    margin-left: 10%;
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow: 0px 4px 13px 0px rgba(50, 50, 50, 1);
    box-shadow: 0px 4px 13px 0px rgba(50, 50, 50, 1);
  }
  .header {
    margin: 0;
    background-color: #4040bc;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
  }
  .cuerpo{
    width: 100%;
    padding: 10px;
    color: black;
  }

  .titulo{
    color: #4040bc;
    margin: 0;
    margin-bottom: 5px; 
  }

  .parte{
    margin: 0;
        background-color: rgba(0, 0, 0, 0.04);
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
  }

  textarea{
    width: 100%;
    resize: none;
    border: none;
    background: none;
  }
  .inp{
    width: 100%;
    padding-left: 15px;
    border: none;
    background: none;
  }
  .pesos{
        position: absolute;
    top: 0px;
    left: 9px;
  }

}

page-conductor-page {
  ion-fab {
    z-index: 40 !important;
  }
  #map {
    height: 100%;
  }
  #aceptar {
    .fab-ios,
    .fab-md {
      background-color: #00d86b;
    }
  }
  #cancelar {
    .fab-ios,
    .fab-md {
      background-color: #ff4040;
    }
  }
  .noMostrar {
    display: none;
  }
  .contenedor {
    position: absolute;
    top: 0;
    width: 100%;
    .movable {
      //transform: translateY(-54px);
      margin-top: -54px;
      -webkit-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
      transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }
    &.expanded1 {
      .movable {
        //transform: translateY(-27px);
        margin-top: -27px;
      }
    }
    &.expanded2 {
      .movable {
        //transform: translateY(-0px);
        margin-top: 0px;
      }
    }
  }
  .opciones {
    color: #4040bc;
    width: 100%;
    height: 45px;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.75);
    background-color: white;
    position: relative
  }
  .cont-bol {
    height: 100%;
    width: 100%;
    span {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2px;
      margin-top: 2px;
    }
    .bol-mayor {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.3);
    }
    .bol-menor {
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.3);
    }
    .activate {
      background-color: #4040bc;
    }
  }
  .table {
    display: table;
    .row-table {
      display: table-row;
    }
    .cell-table {
      display: table-cell;
      vertical-align: middle;
      text-align: center
    }
  }
  .cotflex {
    height: 100%;
    width: 100%;
  }
  .flecha {
    color: rgba(0, 0, 0, 0.3);
  }
  .flecha-activa {
    color: #4040bc;
  }
  .text {
    margin-left: -20px;
    font-weight: 500;
  }
  .verde {
    padding-top: 2px;
    height: 27px;
    width: 100%;
    background-color: #00d86b;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.44);
    -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.44);
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.44);
    position: relative;
    color: white;
  }
  .text-verde {
    margin-left: -15px;
    font-weight: 500;
  }
  .npading {
    padding-left: 2px;
    padding-right: 2px;
  }
}